<div id="Contact" class="section">
  <div class="contact">
    <li id="logo">
      <img
        src="http://localhost:3000/img/logo del@Ease.png"
        height="50px"
        width="50px"
        alt=""
        srcset=""
      />Del@Ease
      <p>
        Every day is a new day with new challages we wish to always satisfy
        our customer
      </p>
    </li>
    <li>
      <h5>Contact Email</h5>
      <form class="contact-form" method="get">
        <input type="email" placeholder="your email" />
        <button><i class="fa fa-arrow-circle-right"></i></button>
      </form>
    </li>
  </div>
  <div class="contact">
    <h5>Useful links</h5>
    <li><a href="Home">Home</a></li>
    <li><a href="About">About</a></li>
    <li><a href="Services">Services</a></li>
    <li><a href="FAQ">FAQ</a></li>
    <li><a href="#">go to top</a></li>
  </div>
  <div class="contact" id="Contacthead">
    <h5>Get in Touch</h5>
    <li>
      <i class="fa fa-map-marker"></i>19/c, Shivranjani, Ahmedabad, Gujrat
    </li>
    <li><i class="fa fa-phone"></i>Call on:+918090739229</li>
    <li><i class="fa fa-envelope"></i>info@Del@Ease.com</li>
    <li>
      <i class="fa fa-clock-o" aria-hidden="true"></i>Mon-Sat: 9am - 6pm
    </li>
  </div>
  <div class="contact">
    <h5>Vision</h5>
    <p>
      Our Vision is to crete a platform for every type of customer who wants cheap and fast delivery and platform for small logistics
    </p>
  </div>
</div>
<!-- footer -->
<footer class="">
  <p>All &copy; Reserved to <span>Del@Ease</span> from 2021-2022.</p>
  <div class="social-links">
    <i class="fa fa-google"></i>
    <i class="fa fa-facebook"></i>
    <i class="fa fa-instagram"></i>
    <i class="fa fa-linkedin"></i>
  </div>
</footer>
<script  src="http://localhost:3000/js/index.js"></script>
</body>
</html>
