<%- include('./header') %>
  <link rel="stylesheet" href="http://localhost:3000/css/login.css" />
  <section
    style="display: flex; justify-content: center; align-items: center;background:url(http://localhost:3000/img/containerBackground.jpg)">
    <div class="wrapper">
      <div class="title">Forgot Password</div>
      <p align="center">Enter your Email Here</p>
      <form action="/forget-password" method="post">
        <% if (err) { %>
          <div class="mx-2 text-danger">
            <%= err %>
          </div>
          <% } %>
            <div class="field">
              <input type="email" name="Mail" required />
              <label>Email Address</label>
            </div>
            <div class="field">
              <input type="submit" />
            </div>
            <div class="signup-link">
              Did you remember password? <a href="/login/customer">login</a>
            </div>
      </form>
    </div>
  </section>
  <%- include('./footer') %>