<%- include('header') %>
    <!-- home -->
    <section id="Home" class="section">
      <!-- <video autoplay muted loop id="myVideo">
        <source src="./del@ease.mp4" type="video/mp4">
      </video> -->
      <div id="TrackForm">
        <form  >
          <input type="number" placeholder="Track id">
          <button type="submit">Track</button>
        </form>
      </div>
      <div class="home-main">
        <div class="main-left">
          <h1>
            <span class="highlight">Del@Ease</span> A New Way to deliver your
            parcel
          </h1>
          <p>
            We are here to help and collaborate with small courier companies to
            help them flourish in this competetive environment
          </p>
        </div>
        <div class="main-right">
          <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <path
              fill="#4364f7"
              d="M37.7,-40.6C47.5,-27.9,53.1,-13.9,53.3,0.2C53.5,14.3,48.2,28.6,38.4,38.7C28.6,48.7,14.3,54.5,-3.8,58.3C-22,62.1,-43.9,64,-56.7,54C-69.5,43.9,-73.1,22,-73.3,-0.2C-73.4,-22.3,-70.1,-44.6,-57.4,-57.3C-44.6,-70.1,-22.3,-73.3,-4.2,-69.1C13.9,-65,27.9,-53.4,37.7,-40.6Z"
              transform="translate(100 100)"
            />
          </svg>
          <img id="hero" src="http://localhost:3000/img/courierguy.gif" alt="" srcset="" />
        </div>
      </div>
    </section>
    <!-- About -->
    <section id="About" class="section">
      <div class="About-main">
        <h1>Welcome to our website</h1>
        <p>
          we are del@Ease a company here to help you either if you are a
          customer who want to send a parcel at cheap rates and faster and safe
          we will help you.
        </p>
        <p>
          if you are small courier company facing issue how to deal with problem
          like online presence and good amout of tracfic of customer request to
          your company for sending courier we will help you
        </p>
      </div>
      <div class="About-img">
        <img class="lazy"  data-src="http://localhost:3000/img/team2.png" id="abouthero" alt="" srcset="" />
      </div>
    </section>
    <!-- Status -->
    <div id="status">
      <li class="statusitem">
        <img class="lazy"  data-src="http://localhost:3000/img/delived.png" alt="" />
        <div class="statustext">
          <span>0</span>
          <p>Shipped across india</p>
        </div>
      </li>
      <li class="statusitem">
        <img class="lazy" data-src="http://localhost:3000/img/issue.png" alt="" srcset="" />
        <div class="statustext">
          <span>0</span>
          <p>Issues resolved</p>
        </div>
      </li>
      <li class="statusitem">
        <img class="lazy" data-src="http://localhost:3000/img/customer.png" alt="" srcset="" />
        <div class="statustext">
          <span>0</span>
          <p>Happy customers</p>
        </div>
      </li>
      <li class="statusitem">
        <img class="lazy" data-src="http://localhost:3000/img/collab.png" alt="" />
        <div class="statustext">
          <span>0</span>
          <p>Total Collaborate</p>
        </div>
      </li>
    </div>

    <!-- Services -->
    <section id="services" class="section">
      <h1 class="title">Services</h1>
      <div class="service-comp owl-carousel">
        <div class="service-item">
          <img class="lazy" data-src="http://localhost:3000/img/map delivery.png" alt="" />
          <div class="ser-main">
            <h4 class="serv-title">Packaging and Delivery</h4>
            <p>
              Del@Ease provides a dedicated platform for packaging and
              delivering package resources and equipment
            </p>
            <button class="serv-btn">
              Read more <i class="fa fa-eye"></i>
            </button>
          </div>
        </div>
        <div class="service-item">
          <img class="lazy" data-src="http://localhost:3000/img/homepage.png" alt="" />
          <div class="ser-main">
            <h4 class="serv-title">Accurate and timely delivery</h4>
            <p>
              We at Del@Ease provide Accurate and timely delivery so we try our
              best to delivery on time
            </p>
            <button class="serv-btn">
              Read more <i class="fa fa-eye"></i>
            </button>
          </div>
        </div>
        <div class="service-item">
          <img class="lazy" data-src="http://localhost:3000/img/security.png" alt="" />
          <div class="ser-main">
            <h4 class="serv-title">Secure and Authentict Delivery</h4>
            <p>
              We at Del@Ease provide secure and authentic delivery so no chance
              of error because customer trust is our first priority.
            </p>
            <button class="serv-btn">
              Read more <i class="fa fa-eye"></i>
            </button>
          </div>
        </div>
        <div class="service-item none">
          <img class="lazy" data-src="http://localhost:3000/img/handdeliver.gif" alt="" />
          <div class="ser-main">
            <h4 class="serv-title">Door to Door</h4>
            <p>
              We at Del@ease pickup from sender's address to reciever's address
              for user's convinience so no and hustle and bustle for delivering
              parcel
            </p>
            <button class="serv-btn">
              Read more <i class="fa fa-eye"></i>
            </button>
          </div>
        </div>
        <div class="service-item none">
          <img class="lazy" data-src="http://localhost:3000/img/network.gif" />
          <div class="ser-main">
            <h4 class="serv-title">Network of Logistics</h4>
            <p>
              We in del@easehave a network of small logistics courier company so
              with competetive price you will get bestprice and service
            </p>
            <button class="serv-btn">
              Read more <i class="fa fa-eye"></i>
            </button>
          </div>
        </div>
      </div>
    </section>
    <!-- customer call-->
    <div id="customer" class="section">
      <div class="cutomer-cont">
        <h1>Reach your destination 100% sure and safe</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          possimus laboriosam veritatis porro fuga, assumenda praesentium
          voluptates esse earum, consequuntur inventore, voluptatem aperiam
          recusandae dolorum magni illo? Quae, sint. Minima!
        </p>
        <button class="customer-btn">Contact now</button>
      </div>
      <img class="lazy" data-src="http://localhost:3000/img/security.png" alt="" srcset="" />
    </div>
    <!-- FAQ -->

    <section id="FAQ" class="section">
      <h1 class="title">FAQ (Q&amp;A)</h1>
      <div class="FAQ-main">
        <div class="FAQ-Image">
          <img class="lazy" data-src="http://localhost:3000/img/qman.png" alt="" srcset="" />
        </div>
        <div class="faq-block">
          <li>
            <a class="opener">
              <i class="fa fa-plus plusicon"></i> What are the payment methods
              available?</a
            >
            <div class="slide" style="display: none">
              <p>
                You can pay through any of the leading credit cards i.e. Visa,
                Master Card, Diners Club Card, JCB. You can Also pay through
                Online bank transfer if you have online banking facility in any
                of the leading banks of India i.e. HDFC Bank, ICICI Bank, Bank
                Of Punjab Ltd., IDBI Bank, Federal Bank, Global Trust Bank, UTI
                Bank, Centurian Bank & CitiBank and By using also UPI .
              </p>
            </div>
          </li>
          <li>
            <a class="opener">
              <i class="fa fa-plus plusicon"></i>Is the Payment Made by me and
              my Credit Card Details Secure?</a
            >
            <div class="slide" style="display: none">
              <p>
                Yes, the payment gateway integrated is of Techprocess Solution
                Ltd, which is a secure gateway verified by Verisign..
              </p>
            </div>
          </li>
          <li>
            <a class="opener">
              <i class="fa fa-plus plusicon"></i>Is my personal details
              secure?</a
            >
            <div class="slide" style="display: none">
              <p>
                We have a well constituted & strict privacy policy. In brief the
                policy states that: We don't share our customer data with
                anybody. We don’t have any such so called partner sites with
                whom we share data. No unsolicited emails are sent from us. We
                send occasional emails to you to keep you informed about our
                services but only to those customers who have instructed us to
                do so. The instructions can be modified by loging into the
                customer section.
              </p>
            </div>
          </li>
          <li>
            <a class="opener">
              <i class="fa fa-plus plusicon"></i>Are there any hidden charges or
              any shipping cost involved?</a
            >
            <div class="slide" style="display: none">
              <p>
                No there is no charge except that mentioned along with the item.
                This is what you pay.
              </p>
            </div>
          </li>
          <li>
            <a class="opener">
              <i class="fa fa-plus plusicon"></i>What are delivery charges on
              Del@ease.com?</a
            >
            <div class="slide" style="display: none">
              <p>
                Delivery charge is Rs 100/- for normal time and big cities. If
                you want to deliver in Late Night (9 PM to 11:30 PM) or Mid
                Night (11:30 PM to 12:00 Mid Night), delivery charges would be
                Rs 300/-. For small city, where our vendor has to move from long
                distance, delivery charge is Rs 300/-. When you place the order,
                It shows delivery charges with respect of timing and cities.
              </p>
            </div>
          </li>
          <li>
            <a class="opener">
              <i class="fa fa-plus plusicon"></i>I have received your order
              confirmation email but not the payment confirmation email?</a
            >
            <div class="slide" style="display: none">
              <p>
                As soon as we receive the order, an order confirmation email is
                sent and order status is created in your customer section. As we
                get Credit Card Authorization, the same is updated in the order
                tracking section and an email is sent to you. This may take few
                seconds to several minutes. If you have not received the email,
                you can verify the payment status through order tracking. If in
                the order tracking section, the card status is not verified and
                it has been some time that you have not got our email, then you
                can again make the payment by clicking on the link "Pay Now". By
                doing so through this link you will be charged just once, though
                you may get a new order number. Or you can email us on
                care@onlinedelivery.in for any assistance.
              </p>
            </div>
          </li>
          <li>
            <a class="opener">
              <i class="fa fa-plus plusicon"></i>Where all can the delivery be
              made?</a
            >
            <div class="slide" style="display: none">
              <p>
                The delivery is possible in all major towns and cities of India,
                for a detailed list click here.
              </p>
            </div>
          </li>
          <li>
            <a class="opener">
              <i class="fa fa-plus plusicon"></i>How do I know if my order got
              delivered fine?</a
            >
            <div class="slide" style="display: none">
              <p>
                del@ease.com guarantees each order to be delivered on the
                requested delivery date and an email is sent to you confirmaing
                the delivery. You can also track your order through the Order
                Tracking section (Link on the top of the website). Also if by
                any reason the order cannot be filled you will be contacted by
                our customer service as soon as the florist reported his
                delivery problem. If you know that the order did not reach its
                delivery destination you may contact us at care@del@ease.com in
                to claim a non delivery with reference to your Order Number
              </p>
            </div>
          </li>
        </div>
      </div>
    </section>
    <!-- Register section -->
    <section id="register">
       <div id="cusreg">
         <h2>Customer</h2>
         <img class="lazy" data-src="http://localhost:3000/img/customer%20searching.gif" alt="customer" srcset=""/>
         <p class="mx-5">
          If you are the customer who want to deliver your parcel at the cheapest rate and securely delivered
          at the reciver's door step the this is the best platform for you.
         </p>
         <button > <a href="/logistic/signup">Register as customer</a></button>
       </div>
       <div id="logreg">
         <h2>Logistics</h2>
         <img class="lazy" data-src="http://localhost:3000/img/logistics.gif" alt="logistics" srcset=""/>
         <p class="mx-5">
           If You are a small logistics/Courier company seeking for a good amount of trafic on your website then 
           this is the platform for you here you dont need any advertisement your service will rank you here.
         </p>
         <button> <a href="/customer/signup">Register as logistics</a></button>
       </div>
    </section>
<%- include('footer') %>