<%- include('./header') %>
    <link rel="stylesheet" href="http://localhost:3000/css/login.css" />
    <section
        style="display: flex; justify-content: center; align-items: center;background:url(http://localhost:3000/img/containerBackground.jpg)">
        <div class="wrapper">
            <h1 align="center">New Password</h1>
            <% if (err) { %>
                <div class=" mx-2 text-danger">
                    <%= err %>
                </div>
                <% }else{ %>
                    <div class="mx-3 text-warning">
                        Please use a password don't you use on other site or application.
                    </div>
                    <% } %>
                        <form action="<%= token %>" method="post">
                            <div class="field">
                                <input type="password" name="password" required>
                                <label>New Password</label>
                            </div>
                            <div class="field">
                                <input type="password" name="cpassword" required>
                                <label>Confirm Password</label>
                            </div>
                            <div class="field">
                                <input type="submit">
                            </div>
                        </form>
        </div>
    </section>
    <%- include('./footer') %>